.bg-image {
  background-image: url("../imgs/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}
body {
  font-family: "Roboto", sans-serif;
}
