.bg-image {
  background-image: url("../imgs/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}
body {
  font-family: "Roboto", sans-serif;
}

.wFull {
  width: 100%;
}

.top {
  top: 0px;
}
.fixed {
  position: fixed;
}

.z {
  z-index: 1;
}

.text-opacity-50 {
  opacity: 50;
}
